.root {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ffffff;
}
.box__mkTi7 {
  display: flex;
  position: absolute;
  background-color: rgba(68, 192, 255, 0.2);
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-content: flex-start;
}
.headerRow {
  display: block;
  position: relative;
  background-color: rgba(89, 255, 68, 0.2);
  width: 100%;
  height: 60px;
  flex-shrink: 0;
}
.box__dwAp {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.heroRow {
  display: block;
  position: relative;
  background-color: rgba(255, 255, 68, 0.2);
  width: 100%;
  height: 600px;
  background-image: url("./images/clarkVanDerBekenTk0B3Dfkf4Unsplash21Jpg.jpeg");
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .heroRow {
    width: 100%;
    height: 300px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.box__s4Ue0 {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.box__wxYiO {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 800px) {
  .box__wxYiO {
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.box__yhpMl {
  display: flex;
  position: relative;
  width: 558px;
  height: 234px;
  flex-direction: column;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .box__yhpMl {
    width: 100%;
    min-width: 0;
  }
}
.box__zwHHh {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
}
.box__uWCb8 {
  position: relative;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 46px;
  font-family: "Muli";
  display: inline-block;
}
.box__ftse8 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.box__qNHt {
  position: relative;
  font-size: 18px;
  color: rgb(255, 255, 255);
  width: 100%;
}
@media (min-width: 0px) and (max-width: 800px) {
  .box__qNHt {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.box__agl9X {
  position: relative;
  width: 100%;
  color: rgb(255, 255, 255);
  font-family: "Muli";
  font-size: 18px;
}
.box__qb4W9 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
}
.box__j8AK {
  display: block;
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 40px;
  border-radius: 20px;
}
.navRow {
  display: block;
  position: relative;
  background-color: rgba(249, 249, 249, 0.62);
  width: 100%;
  height: 56px;
  flex-shrink: 0;
}
.storesRow {
  display: flex;
  position: relative;
  background-color: rgb(249, 249, 249);
  width: 100%;
  justify-content: center;
  align-items: center;
}
.footerRow {
  display: block;
  position: relative;
  background-color: rgb(29, 178, 189);
  width: 100%;
  height: 98px;
  flex-shrink: 0;
}
.box__wyNpQ {
  display: flex;
  position: absolute;
  top: 80px;
  right: 10px;
}
.routesDialog:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
